body {
	background-color: #282828;
}
h2 {
	text-indent: 500px;
	color: white;
}
pre {
	max-width: 850px;
  	padding: 10px;
  	margin: auto;
  	color: white;
}
form {
	max-width: 850px;
  	padding: 10px;
  	margin: auto;
}